[submodule "externals/lodepng"]
	path = externals/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "externals/nuklear"]
	path = externals/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "externals/buildsys/common"]
	path = externals/buildsys/common
	url = https://github.com/Melown/buildsys-common.git
[submodule "externals/buildsys/cmake"]
	path = externals/buildsys/cmake
	url = https://github.com/Melown/buildsys-cmake.git
[submodule "externals/libdbglog"]
	path = externals/libdbglog
	url = https://github.com/Melown/libdbglog.git
[submodule "externals/libgeo"]
	path = externals/libgeo
	url = https://github.com/Melown/libgeo.git
[submodule "externals/libgeometry"]
	path = externals/libgeometry
	url = https://github.com/Melown/libgeometry.git
[submodule "externals/half"]
	path = externals/half
	url = https://github.com/Melown/half.git
[submodule "externals/libhttp"]
	path = externals/libhttp
	url = https://github.com/Melown/libhttp.git
[submodule "externals/libimgproc"]
	path = externals/libimgproc
	url = https://github.com/Melown/libimgproc.git
[submodule "externals/libjsoncpp"]
	path = externals/libjsoncpp
	url = https://github.com/Melown/libjsoncpp.git
[submodule "externals/libmath"]
	path = externals/libmath
	url = https://github.com/Melown/libmath.git
[submodule "externals/libutility"]
	path = externals/libutility
	url = https://github.com/Melown/libutility.git
[submodule "externals/vts-libs"]
	path = externals/vts-libs
	url = https://github.com/Melown/vts-libs.git
[submodule "externals/sdl"]
	path = externals/sdl
	url = https://github.com/SDL-mirror/SDL.git
