Source: vts-browser
Section: non-free/citationtech
Priority: extra
Maintainer: Tomas Maly <tomas.maly@melown.com>
Build-Depends: debhelper (>= 7.0.50~)
               , libboost-all-dev (>= 1.49)
               , libeigen3-dev (>= 3.1.0-1)
               , libgdal-dev (>= 2.0)
               , libproj-dev (>= 4.9)
               , libglfw3-dev (>= 3.1.2-3)
               , libgeographic-dev
               , libjsoncpp-dev
               , qt5-default
Standards-Version: 3.8.4
Homepage: https://github.com/Melown/vts-browser-cpp

Package: libvts-browser0
Architecture: any
Depends: ${shlibs:Depends}
			, ${misc:Depends}
Description: vts browser library
 vts browser c++ library

Package: libvts-browser-dbg
Architecture: any
Depends: ${misc:Depends}
			, libvts-browser0 (= ${binary:Version})
Description: vts browser debug symbols
 debug symbols for vts browser library

Package: libvts-browser-dev
Architecture: any
Depends: ${misc:Depends}
			, libvts-browser0 (= ${binary:Version})
Suggests: libeigen3-dev (>= 3.1.0-1)
Description: vts browser developer files
 developer files for vts browser library

Package: vts-browser-glfw
Architecture: any
Depends: ${shlibs:Depends}
			, ${misc:Depends}
			, libvts-browser0 (= ${binary:Version})
Description: glfw example using vts browser
 complete vts browser example application build on glfw

Package: vts-browser-qt
Architecture: any
Depends: ${shlibs:Depends}
			, ${misc:Depends}
			, libvts-browser0 (= ${binary:Version})
Description: qt example using vts browser
 simplified vts browser example application build on qt


