#!/usr/bin/make -f
# -*- gnumakefile -*-

# include common debian support
include buildsys/common/include/debian.mk

# list of packages to build
PACKAGES=BROWSER BROWSER_DEVEL BROWSER_DESKTOP

# package names
DEB_PACKAGE_BROWSER=libvts-browser0
DEB_PACKAGE_BROWSER_DEVEL=libvts-browser-dev
DEB_PACKAGE_BROWSER_DESKTOP=vts-browser-desktop
DEB_PACKAGE_DEBUG=libvts-browser-dbg

PREFIX=/usr

# install components
INSTALL_COMPONENTS_BROWSER=browser renderer
INSTALL_COMPONENTS_BROWSER_DEVEL=browser-dev renderer-dev
INSTALL_COMPONENTS_BROWSER_DEBUG=browser-dbg renderer-dbg
INSTALL_COMPONENTS_BROWSER_DESKTOP=browser-desktop

# include cmake debian support
include buildsys/cmake/include/debian.mk

# ignore these:
override_dh_auto_test:
override_dh_installcatalogs:
override_dh_installcron:
override_dh_installdebconf:
override_dh_installemacsen:
override_dh_installifupdown:
override_dh_installinfo:
override_dh_pysupport:
override_dh_installmenu:
override_dh_installmime:
override_dh_installmodules:
override_dh_installlogcheck:
override_dh_installpam:
override_dh_installppp:
override_dh_installudev:
override_dh_installwm:
override_dh_installxfonts:
override_dh_installgsettings:
override_dh_bugfiles:
override_dh_ucf:
override_dh_lintian:
override_dh_gconf:
override_dh_icons:
override_dh_perl:
override_dh_usrlocal:
override_dh_installexamples:







